%header.top-header-wrapper
  .top-header-top
    .top-header-top__header
      .top-header-top__header-contents
        %h1 Foodie
        = link_to root_path do
          -# = image_tag 'mercari-logo-red.svg', alt: 'mercari-logo',
          -# class: 'toppage-header-top__header-contents--mercari-logo'
        .top-header-top__header-search
          %form{ action: '/', method: 'post' }
            %input{ name: 'seach', class: 'toppage-header-top__header-search--search-form',
            placeholder: '何かお探しですか？' }
          .top-header-top__header-search--search-btn
            = icon('fas', 'search', alt: 'search-icon',
            class: 'top-header-top__header-search--search-btn')
      .top-header-top__footer-contents
        - if user_signed_in?
          .top-header-top__footer-contents-wrapper
            .top-header-top__footer-login
              %ul.top-header-top__footer-login-contents
                %li.top-header-top__footer-login-content
                  = link_to root_path do
                    = icon('fas', 'heart ', alt: 'heart-icon',
                    style: 'color:#cccccc', class: 'top-header-top__footer-login-heaet-icon')
                    %span お気に入り
                %li.top-header-top__footer-login-content--shoppingbasket
                  = link_to root_path do
                    = icon('fas', 'shopping-cart', alt: 'shopping-cart-icon',
                    style: 'color:#cccccc', class: 'top-header-top__footer-login-cart-icon')
                    %span カゴ
                %li.top-header-top__footer-login-content--history
                  = link_to root_path do
                    = icon('fas', 'history', alt: 'history-icon',
                    style: 'color:#cccccc', class: 'top-header-top__footer-login-history-icon')
                    %span 履歴
                %li.top-header-top__footer-login-content--mypage
                  = link_to root_path do
                    = icon('fas', 'user', alt: 'mypage-icon', class: 'top-header-top__footer-login-maypage-icon')
                    %span
                    = link_to "マイページ", '/users/edit'
        - else
          .top-header-top__footer-contents-wrapper
            .top-header-top__footer-contents--new-register-btn
              = link_to '新規会員登録', new_user_registration_path
            .top-header-top__footer-contents--user-login-btn
              = link_to 'ログイン', new_user_session_path