.main  
  .side-wrapper
    %nav.side-search
      %ul.sider-search__categories
        %li.sider-search__wrapper
          .side-search__categories-list
            %span
              = link_to root_path do
                = icon('fas', 'list-ul lg',
                alt: 'list-icon', style: 'color:#000000')
                %span.sider-search__categories-text 一覧から探す
          .side-search__categories-list
            %span
              = link_to root_path do
                = icon('fas', 'list-ul lg',
              alt: 'list-icon', style: 'color:#000000')
                %span.sider-search__categories-text 生産者から探す
          .side-search__categories-list
            %span
              = link_to root_path do
                = icon('fas', 'list-ul lg',
              alt: 'list-icon', style: 'color:#000000')
                %span.sider-search__categories-text 飲食店から探す

          .categories-wrapper           
            %ul.first-category__wrapper
              -# - @main_categories.each do |main_category|
                %li.first-category{data: {category: {id: main_category.id, sub: main_category.sub, sub_sub: main_category.sub_sub}}}
                  %div
                    = main_category.name
            %ul.second-category__wrapper
              -# - @sub_categories.each do |sub_category|
                %li.second-category{data: {category: {id: sub_category.id, sub: sub_category.sub, sub_sub: sub_category.sub_sub}}}
                  %div
                    = sub_category.name
            %ul.third-category__wrapper
              -# - @sub_sub_categories.each do |sub_sub_category|
                %li.third-category{data: {category: {id: sub_sub_category.id, sub: sub_sub_category.sub, sub_sub: sub_sub_category.sub_sub}}}
                  = sub_sub_category.name
        %li.sider-search__products
          %span
            = link_to root_path do
              = icon('fas', 'tag lg', alt: 'tag-icon',
              style: 'color:#000000', class: 'toppage-header-top__footer-search-brand--icon')
              %span 品目から探す
          %ul.product__wrapper
            %li.product
              %p 野菜セット
            %li.product
              %p 野菜
            %li.product
              %p 果物
            %li.product
              %p 肉
            %li.product
              %p 魚介類
            %li.product
              %p 卵・乳製品
            %li.product
              %p はちみつ
            %li.product
              %p お酒
            %li.product
              %p お茶
            %li.product
              %p 米・穀類
            %li.product
              %p 加工品
        %li.sider-search__recruitment
          .sider-search__recruitment--container
            %a.btn-shine{:href => "#"} PUSH ME

  .main_left
    .main__features
      %h2.head
        新商品
    .top-main
      .top-main__ranking-top
        人気の商品
        %ul.top-main__list
          %li.top-main__menu
            .top-main__contents
              - @items.each do |item|
                .top-main__content
                  = link_to sell_path(item.id), method: :get do
                    .toppage-main__image
                      %span
                        = item.jpy
                      = image_tag product.images[0], size: '188x252'
                      -if item.trading_status_id == 4
                        .pickup-content__red
                        .pickup-content__sold
                          SOLD
                      -if item.trading_status_id == 3
                        .pickup-content__gray
                        .pickup-content__stop
                          公開停止
      .top-main__ranking-bottom
        .top-main__ranking-name
          .top-main__text
            ワケあり野菜
            .top-main__item-more
              = link_to 'もっと見る >', '#', class: 'top-main__more-link'
          .top-main__item
            .top-main__contents
              - @items.each do |item|
                .top-main__content
                  = link_to sell_path(item.id), method: :get do
                    .toppage-main__image
                      %span
                        = item.jpy
                      = image_tag product.images[0], size: '188x252'
                      -if item.trading_status_id == 4
                        .pickup-content__red
                        .pickup-content__sold
                          SOLD
                      -if item.trading_status_id == 3
                        .pickup-content__gray
                        .pickup-content__stop
                          公開停止
                    .top-main__item-name
                      %span= item.name
        .top-main__ranking-name
          .top-main__text
            お取り寄せ商品
            .top-main__item-more
              = link_to 'もっと見る >', '#', class: 'top-main__more-link'
          .top-main__item
            .top-main__contents
              - @items.each do |item|
                .top-main__content
                  = link_to sell_path(item.id), method: :get do
                    .top-main__image
                      %span
                        = item.jpy
                      = image_tag item.images[0], resize: '188x188'
                      -if item.trading_status_id == 4
                        .pickup-content__red
                        .pickup-content__sold
                          SOLD
                      -if item.trading_status_id == 3
                        .pickup-content__gray
                        .pickup-content__stop
                          公開停止
                    .top-main__item-name
                      %span= item.name
      .top-main__category-name
        .top-main__text
          カテゴリー